/* GENERALS */
body{
    background:#eee;
}

/* REGISTER */
.box-form, .box-default{
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    padding-top:0px;
    margin:0px auto;
    float:none;
}
.box-form input{
    margin-bottom:10px;
}

/*Header*/
a {
    color: #fff;
    text-decoration: none;
}
a:hover, a:focus{
    color: rgb(0, 230, 39);
    text-decoration: none;
}
.list-inline {
    margin-top: 1%;
    margin-right: 2%;
}
.navbar-collapse .avatar{
    background: white;
    border-radius: 500px;
    width: 45px;
    height: 45px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -13px;
}
.navbar-collapse .avatar img{
    height:100%;
    text-align:center;
}
.search-li{
    margin-top: -1%;
    position: absolute;
}
/*GENTE*/
.user-item .avatar{
    background: #eee;
    border-radius: 500px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float:left;
}

.user-item .avatar img{
    height:100%;
    text-align:center;
}

.user-item .user-item-content{
    padding: 10px;
    margin-left:85px;
}